.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  display: flex;
}
AddButton {
  padding-right: 20px;
}

.search-bar {
  padding-bottom: 100px;
}

.paper {
  marginTop: "theme.spacing(7)";
  display: flex;
  flexDirection: column;
  alignItems: center
}

.form {
  width: 100%;
  marginTop: "theme.spacing(3)"
}
.submit {
  margin: "theme.spacing(3, 0, 2)"
}
.textField {
  marginLeft: "theme.spacing(1)";
  marginRight: "theme.spacing(1)";
  width: 100%
}

.delete-button {
  padding-right: 20px;
}

.view-button {
  padding-right: 20px;
}

.mod-buttons {
  display: flex;
  padding-top: 50px;
}

.mod-header {
  padding-left: 300px;
}

.main-button {
  padding-left: 50px;
  padding-right: 20px;
}

.main-search {
  padding-top: 20px;
}
